{% extends 'base.html' %}

{% block title %}News Details{% endblock title %}

{% block body %}
  <h1>News Details:</h1>

  <p>sourceURL: {{ sourceURL }}</p>
  <p>Content: {{ newsContent }}</p>
{% comment %} 
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src={{newsURL}} allowfullscreen></iframe>
  </div> 
{% endcomment %}


  <p>Web content :
  {{webContent}}
    {% comment %}
  {% for item in webContent %}
    <li>{{ item }}</li>
  {% endfor %}
{% endcomment %}
  </p>

{% endblock body %}
