{% extends 'base.html' %}

{% block title %}News Details{% endblock title %}

{% block head %}

<style>

 @property --progress-value {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
  }

  @keyframes score-progress {
    to { --progress-value: {{webContent}}; }
  }

  .progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;


    /* to center the percentage value */
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(160, 171, 177);
  }

  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
  }

  .score{
    background:
      radial-gradient(closest-side, rgb(27, 26, 26) 79%, transparent 80% 100%),
      conic-gradient(rgb(160, 171, 177) calc(var(--progress-value) * 1%), rgb(40,46, 44) 0);
    animation: score-progress 2s 1 forwards;
  }

  .score::before {
    animation: score-progress 2s 1 forwards;
  }

  body {
    font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
  }

  h2 {
    margin: 1rem;
    text-align: center;
  }

  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  </style>

{% endblock head %}

{% block body %}

{% comment %}
<h1>News Details:</h1>

<p>sourceURL: {{ sourceURL }}</p>
<p>Content: {{ newsContent }}</p>
{% endcomment %}

{% comment %}
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src={{newsURL}} allowfullscreen></iframe>
</div>
{% endcomment %}

{% comment %}
<p>
    {% for item in webContent %}
        <li> {{ item }}% </li>
    {% endfor %}

</p>
<div style="text-align: center">
    <h3>Score</h3>
    <h1 style="font-size: 3rem">{{webContent}}%</h1>
</div>
{% endcomment %}

<div class="progress-bar-container">
        <h3  style="text-align: center">
          <label for="score">Score</label>
        </h3>
        <div class="progress-bar score">
          <progress id="score" min="0" max="100" value="45"></progress>
        </div>
</div>

{% endblock body %}
