{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container">
    <form class="" action="/data" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="url" class="form-control" id="floatingInput" placeholder="http://www.example.com/index.html" name="sourceURL">
            <label for="floatingInput">News source URL</label>
          </div>
          <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="newsContent" placeholder="http://www.example.com/index.html" name="newsContent" style="height: 30rem"></textarea>
            <label for="newsContent">News content</label>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit" name="submitBtn">Check authenticity</button>
          </div>
    </form>
</div>
{% endblock body %}