
 @property --progress-value {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
  }
  
  @keyframes score-progress {
    to { --progress-value: 92; }
  }
  

  
  .progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
  
    
    /* to center the percentage value */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
  }
  
  .score{
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(70, 68, 69) calc(var(--progress-value) * 1%), rgb(179, 172, 173) 0);
    animation: score-progress 2s 1 forwards;
  }
  
  .score::before {
    animation: score-progress 2s 1 forwards;
  }
  
 
  
  body {
    font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
  }
  
  h2 {
    text-align: center;
  }
  
  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  } 